<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">invalid name</div>
    <br>

    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">invalid age</div>
  <br>

    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">invalid username</div>
<br>
  <label for="password">Enter password:</label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">invalid password</div>

  <input type="submit" value="Update!"/>
</form>
<br>
<form th:method="GET" th:action="@{/admin}">
  <input type="submit" value="Go back">
</form>
<br>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="Logout">
</form>
</body>
</html>